# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.so
*.dll

# VS Code and PyCharm
.vscode/
.idea/

# Environments
.env
.venv/
venv/
ENV/
env/
*.env

# Test/coverage
.coverage
htmlcov/
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Projects output
generated_projects/
